<div class="page-header">
  <h1>Select the chatroom you want to enter</h1>
</div>
<%@chatrooms.each do |c|%>
<div class="row text-center">
<a href="<%=c.id.to_s%>" class="btn btn-info" role="button"><%=c.chr_name%></a>

</div>
<br/>
<%end%>
